body {
	background-color: ;
	margin-bottom: 25px;
}

#header-nav {
	-webkit-box-shadow: 0px 1px 1px 2px rgba(219,212,219,0.89);
    -moz-box-shadow: 0px 1px 1px 2px rgba(219,212,219,0.89);
	box-shadow: 0px 1px 1px 2px rgba(219,212,219,0.89);
	background-color: #eae5c8;
  	border-radius: 0;
  	border: 0;
}

.navbar-brand {
	padding-top: 4px;
	padding-bottom: 70px;
}

.navbar-brand h1{
	font-family: 'Lobster', cursive;
	font-size: 2.5em;
	color:#B40404;
	margin-left: 0;
	margin-bottom: 30px;
	margin-top: 6px;
}

.navbar-brand a:link, .navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #996600;
}

@media (max-width: 767px) {
	#collapsable-nav {
		background-color: #f2f2f2;
	}
}

#collapsable-nav a {
	color: #000000;
	font-size: 1.4em;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

#nav-list {
	margin-bottom: 0;
	margin-top: 0;
}

#nav-list a:hover {
	background:  #d9d9d9;
}

#main-content {
	
}

 h2 {
	font-family: 'Lobster', cursive;
	font-size: 2.2em;
	padding-bottom: 28px;
}

h3{
	font-family: 'Raleway', sans-serif;
	font-size: 1.4em;
	font-style: italic;
	color: #734d26;
	font-weight: bold;
}

#main-content {
	background-color: #eae5c8;
}


.col-xs12 {
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	padding-right: 12px;
	padding-left: 12px;
}

#sushi {
	padding-bottom: 15px;
}
